<ion-view title="Agenda"  cache-view="false" >
            <ion-content  class="has-subheader" >

                <ion-list>


                    <div ng-repeat="(group,val) in predicciones">

                        <ion-item class="item-stable"
                                  ng-click="toggleGroup(group)"
                                  ng-class="{active: isGroupShown(group)}">
                            <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                            &nbsp;
                            {{group}}
                        </ion-item>

                            <div ng-repeat="(liga,val) in predicciones[group] | groupBy: 'tipo' "    ng-show="isGroupShown(group)"   >


                                <ion-item class="item-dark texto-blanco row row-center" ng-click="ver(liga)" >
                                        <div class="col col-70">  {{ liga }} / {{val[0].jornada}}  </div>

                                        <div class="col2 "> <b>{{val[0].rate}}%</b>  </div>
                                </ion-item>

                               <!-- href="#/tab/tips-->

                                <ion-item   class="item-text-wrap"  ng-repeat="predLiga in val"  ng-class-odd="'even-row'" >
                                            <div class="row row-center"  ng-click="verEncuentro(predLiga)">
                                                <div class="col col-20">  {{predLiga.hora}}              </div>
                                                <div class="col col-60 ">  {{predLiga.encuentro}}         </div>
                                                <div>    <b>{{predLiga.prediccion}}</b>  </div>
                                            </div>
                                </ion-item>


                            </div>

                    </div>
                </ion-list>
            </ion-content>
</ion-view>