<ion-modal-view>

    <ion-header-bar class="bar-energized">
        <h1 class="title">Comparativa</h1>
    </ion-header-bar>

    <ion-content>

        <div class="card" ng-show="mostrarDialog">
            <div class="item item-text-wrap text-center">
                <h2> {{package.errorDialog}}</h2>
            </div>
        </div>

        <ion-scroll direction="xy" class="myScroll">
            <ul class="list">
                <div class="row">
                    {{selection[0]}}
                    <li class="item">
                        <div class="col col-center">casa</div>
                        <div ng-class="scoreClass(b)" class="item"
                             ng-repeat="b in racha.casa[selection[0]] track by $index">
                        </div>
                    </li>
                    <li class="item">
                        <div class="col col-center">fuera</div>
                        <div ng-class="scoreClass(b)" class="item"
                             ng-repeat="b in racha.fuera[selection[0]] track by $index">
                        </div>
                    </li>
                </div>
                <div class="row">
                    {{selection[1]}}
                    <li class="item">
                        <div class="col col-center">casa</div>
                        <div ng-class="scoreClass(b)" class="item"
                             ng-repeat="b in racha.casa[selection[1]] track by $index">
                        </div>
                    </li>
                    <li class="item">
                        <div class="col col-center">fuera</div>
                        <div ng-class="scoreClass(b)" class="item"
                             ng-repeat="b in racha.fuera[selection[1]] track by $index">
                        </div>
                    </li>
                </div>
            </ul>
        </ion-scroll>

        <button class="button button-full button-energized" ng-click="compareDialog.hide()">Cerrar</button>


    </ion-content>
</ion-modal-view>