<ion-modal-view>

    <ion-header-bar class="bar-positive">
        <h1 class="title">Comparativa</h1>
    </ion-header-bar>
    <!--<ion-content has-header="true" has-footer="false" padding="true" scroll="false">-->
        <ion-content>

        <div class="card" ng-show="mostrarDialog">
            <div class="item item-text-wrap text-center">
                <h2> {{package.errorDialog}}</h2>
            </div>
        </div>



            <ul class="list">

                <li class="item">
                    <div class="text-center">{{selection[0]}} - {{selection[1]}}</div>

                    <div class="row">
                        <div class="col-10">{{selection[0]}}</div>
                        <ion-scroll zooming="true" direction="x" class="myScroll"  >
                            <div class="row">
                            <div ng-class="scoreClass(b)" class="item col"
                                 ng-repeat="b in racha.casa[selection[0]] track by $index">
                            </div> </div>
                        </ion-scroll>
                    </div>

                    <div class="row">
                        <div class="col-10">{{selection[1]}}</div>
                        <ion-scroll zooming="true" direction="x" class="myScroll"  >
                            <div class="row">
                        <div ng-class="scoreClass(b)" class="item col"
                             ng-repeat="b in racha.fuera[selection[1]] track by $index">
                        </div> </div>
                        </ion-scroll>
                    </div>
                </li>
                <li class="item">
                    <div class="text-center">{{selection[1]}} - {{selection[0]}}</div>

                    <div class="row">
                        <div class="col-10">{{selection[1]}}</div>
                        <ion-scroll zooming="true" direction="x" class="myScroll"  >
                            <div class="row">
                                <div ng-class="scoreClass(b)" class="item col"
                                     ng-repeat="b in racha.casa[selection[1]] track by $index">
                                </div> </div>
                        </ion-scroll>
                    </div>

                    <div class="row">
                        <div class="col-10">{{selection[0]}}</div>
                        <ion-scroll zooming="true" direction="x" class="myScroll"  >
                            <div class="row">
                                <div ng-class="scoreClass(b)" class="item col"
                                     ng-repeat="b in racha.fuera[selection[0]] track by $index">
                                </div> </div>
                        </ion-scroll>
                    </div>
                </li>

                <!-- 2 items goles-->
 <!--               <li class="item">
                    <div class="text-center">{{selection[0]}} Casa</div>
                    <div class="row">
                        <div class="col ">Marcados</div>
                        <div class="col col-20">{{racha.marcadosCasa[selection[0]]|sumByKey}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Encajados</div>
                        <div class="col col-20">{{racha.encajadosCasa[selection[0]]|sumByKey}}</div>
                    </div>
                </li>
                <li class="item">
                    <div class="text-center">{{selection[0]}} Fuera</div>
                    <div class="row">
                        <div class="col ">Marcados</div>
                        <div class="col col-20">{{racha.marcadosFuera[selection[0]]|sumByKey}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Encajados</div>
                        <div class="col col-20">{{racha.encajadosFuera[selection[0]]|sumByKey}}</div>
                    </div>
                </li>


                -->
                <!-- fin 2 items goles-->


<!--                <li class="item">
                    <div class="text-center">{{selection[1]}} Casa</div>
                    <div class="row">
                        <div class="col ">Marcados</div>
                        <div class="col col-20">{{racha.marcadosCasa[selection[1]]|sumByKey}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Encajados</div>
                        <div class="col col-20">{{racha.encajadosCasa[selection[1]]|sumByKey}}</div>
                    </div>
                </li>
                <li class="item">
                    <div class="text-center">{{selection[1]}} Fuera</div>
                    <div class="row">
                        <div class="col ">Marcados</div>
                        <div class="col col-20">{{racha.marcadosFuera[selection[1]]|sumByKey}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Encajados</div>
                        <div class="col col-20">{{racha.encajadosFuera[selection[1]]|sumByKey}}</div>
                    </div>
                </li>-->
            </ul>


        <button class="button button-full button-positive" ng-click="compareDialog.cerrar()">Cerrar</button>


    </ion-content>
</ion-modal-view>