<ion-view title="detail"  >

    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goBack()"><i class="icon ion-arrow-left-c" ></i> Back</button>
    </ion-nav-buttons>


    <ion-content>


        <div class="list">
            <label class="item item-input item-select  borde">

                <div class="item-text-wrap input-label col ">
                    {{selection[0]}}:
                </div>



                <div class="col">
                    <div class="circle-singleline">
                        {{dificultadSelec0}}
                    </div>

                    <select class=" borde"  ng-model="data.selectedindexEquipo0" ng-change="changedIgualdadEquipo(selection[0],'Equipo0')">
                        <option ng-repeat="(key3, value3) in igualdad" value="{{key3}}">{{value3}}</option>
                    </select>

                </div>

            </label>

            <label class="item item-input item-select">
                <div class="item-text-wrap col input-label">
                    {{selection[1]}}:
                </div>
                <div class="col">
                    <div class="circle-singleline">
                        {{dificultadSelec1}}
                    </div>
                    <select   ng-model="data.selectedindexEquipo1" ng-change="changedIgualdadEquipo(selection[1],'Equipo1')">
                        <option ng-repeat="(key4, value4) in igualdad" value="{{key4}}">{{value4}}</option>
                    </select>
                </div>
            </label>


            <div class="item   col  ">
                <div class="row row-center ">
                    <div class="col col-75 ">
                        Filtro Resultados Emocionales
                    </div>
                    <div class="col  ">
                        <label class="toggle">
                            <input type="checkbox" ng-model="filtroAnimo.checked">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>



            </div>



            <ion-scroll zooming="true" direction="x" class="myScroll"  style="width: 360px"  >




                <div class="item ">


                    <div class="text-center">{{selection[0]}} / {{selection[1]}}</div>

                    <div class="row row-center">
                        <div class="row row-tam2" >
                            <div  ng-class="scoreClass2(p,racha[ ligaSelected ].difPuntosFiltered[selection[0]][$index],filtroAnimo)" class="item"
                                  ng-repeat="p in racha[ligaSelected ].calendarioFiltered[selection[0]] track by $index "
                                  ng-if="  racha[ligaSelected].calendarioFiltered[selection[0]][$index]!=='x' && $index > 0 && racha[ligaSelected].calendarioFiltered[selection[0]][$index]!== null ">
                                <div class="texto-celda2"> {{racha[ ligaSelected ].difPuntosFiltered[selection[0]][$index] }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="spacer"></div>

                    <div class="row row-center">
                        <div class="row row-tam2" >
                            <div  ng-class="scoreClass2(p,racha[ ligaSelected ].difPuntosFiltered[selection[1]][$index],filtroAnimo)" class="item"
                                  ng-repeat="p in racha[ligaSelected].calendarioFiltered[selection[1]] track by $index"
                                  ng-if=" racha[ligaSelected].calendarioFiltered[selection[1]][$index]!=='x' && $index > 0 && racha[ ligaSelected ].calendarioFiltered[selection[1]][$index]!== null ">
                                <div class="texto-celda2"> {{racha[ ligaSelected ].difPuntosFiltered[selection[1]][$index]}}   </div>
                            </div>
                        </div>
                    </div>

                </div>
            </ion-scroll>

            <div class="item">
                <div class="text-center">{{selection[0]}} / {{selection[1]}} </div>
                <div class="text-center">{{dificultadSelec0Casa}} / {{dificultadSelec1Fuera}} </div>
                <div class="row row-center">
                    <div class="row row-tam2" >
                        <div  ng-class="scoreClass(p)" class="item"
                              ng-repeat="p in racha[ ligaSelected ].casaFiltered[selection[0]] track by $index "
                              ng-if=" $index > 0 && racha[ ligaSelected ].casaFiltered[selection[0]][$index]!== null ">
                            <div class="texto-celda2"> {{racha[ ligaSelected ].difPuntosCasaFiltered[selection[0]][$index]}}</div>
                        </div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="row row-center">
                    <div class="row row-tam2 " >
                        <div  ng-class="scoreClass(p)" class="item"
                              ng-repeat="p in racha[ ligaSelected ].fueraFiltered[selection[1]] track by $index"
                              ng-if=" $index > 0 && racha[ ligaSelected ].fueraFiltered[selection[1]][$index]!== null ">
                            <div class="texto-celda2"> {{racha[ ligaSelected ].difPuntosFueraFiltered[selection[1]][$index]}}   </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--   </ion-scroll>-->
            <div class="item">
                <div class="text-center">{{selection[1]}} / {{selection[0]}} </div>
                <div class="text-center">{{dificultadSelec1Casa}} / {{dificultadSelec0Fuera}} </div>
                <div class="row row-center">
                    <!--     <ion-scroll zooming="true" direction="x" class="myScroll"  style="width: 300px"  >-->
                    <div class="row row-tam2" >
                        <div  ng-class="scoreClass(p)" class="item"
                              ng-repeat="p in racha[ ligaSelected ].casaFiltered[selection[1]] track by $index "
                              ng-if=" $index > 0 && racha[ ligaSelected ].casaFiltered[selection[1]][$index]!== null ">
                            <div class="texto-celda2"> {{racha[ ligaSelected ].difPuntosCasaFiltered[selection[1]][$index]}}</div>
                        </div>
                    </div>
                    <!--    </ion-scroll>-->
                </div>

                <div class="spacer"></div>
                <div class="row row-center  ">
                    <!--      <ion-scroll zooming="true" direction="x" class="myScroll"  style="width: 300px"  >-->
                    <div class="row row-tam2" >
                        <div  ng-class="scoreClass(p)" class="item"
                              ng-repeat="p in racha[ligaSelected].fueraFiltered[selection[0]] track by $index"
                              ng-if=" $index > 0 && racha[ligaSelected].fueraFiltered[selection[0]][$index]!== null ">
                            <div class="texto-celda2"> {{racha[ ligaSelected ].difPuntosFueraFiltered[selection[0]][$index]}}   </div>
                        </div>
                    </div>
                    <!-- </ion-scroll> -->
                </div>

            </div>


        </div>





    </ion-content>

</ion-view>
