
<ion-view title="Ligas"  >



    <ion-content >

        <div class="list">

            <label class="item item-input item-dark item-select  ">
            <div class="item-text-wrap input-label col ">
                Seleccionar liga:
            </div>
            <div class="col">
                <select ng-model="data.selectedindex"

                        ng-options="value for (key, value) in ligas| orderBy:'toString()' "
                        ng-change="changedliga()">
                </select>
            </div>
        </label>
            <div class="item  item-dark text-center col  "  ng-show="ligaSelected !== undefined ">

                    Partidos de la Jornada {{racha[ligaSelected].ultima}}

            </div>

            <div class="item item-dark  col  "  ng-show="ligaSelected !== undefined ">
                <div class="row row-center ">
                    <div class="col col-75 ">
                        Seleccion de equipos libre
                    </div>


                    <div class="col  ">

                        <label class="toggle">
                            <input type="checkbox" ng-model="filtroAnimo.checked">
                            <div class="track">
                                <div class="handle"></div>
                            </div>

                        </label>
                    </div>
                </div>



            </div>



    <div class="pegar " ng-repeat="part in  racha[ligaSelected].listaPartidos" ng-click="irPartido(part)" ng-show="!filtroAnimo.checked" >
        <div class=" button button-block">{{part}}  </div>
    </div>


    <div ng-show="filtroAnimo.checked" class="row pegar " ng-repeat="equipo in  racha[ligaSelected].listaEquipos"   ng-if="$index % 2 === 0">

        <div class="col col-50    pegar" ng-if="$index < racha[ligaSelected].listaEquipos.length">

            <label class="checkbox   button button-block "   ng-class="{'button-dark': racha[ ligaSelected ].calendarioFiltered[racha[ligaSelected].listaEquipos[$index]].checked }" >

                <input id="{{racha[ligaSelected].listaEquipos[$index]}}"   ng-show=false
                       type="checkbox"
                       ng-disabled="selection.length==2 && !racha[ ligaSelected ].calendarioFiltered[racha[ligaSelected].listaEquipos[$index]].checked"
                       ng-model="racha[ ligaSelected ].calendarioFiltered[racha[ligaSelected].listaEquipos[$index]].checked"
                       ng-change="selecionarEquipo(racha[ligaSelected].listaEquipos[$index])"
                       ng-checked="selection.indexOf(racha[ligaSelected].listaEquipos[$index]) > -1">

                {{racha[ligaSelected].listaEquipos[$index]}}

            </label>
        </div>
        <div class="col col-50    pegar" ng-if="$index < racha[ligaSelected].listaEquipos.length">

            <label class="checkbox    button-block  button"  ng-if="$index + 1 < racha[ligaSelected].listaEquipos.length" ng-class="{'button-dark': racha[ ligaSelected ].calendarioFiltered[racha[ligaSelected].listaEquipos[$index+1]].checked }" >

                <input id="{{racha[ligaSelected].listaEquipos[$index+1]}}"   ng-show=false
                       type="checkbox"
                       ng-disabled="selection.length==2 && !racha[ ligaSelected ].calendarioFiltered[racha[ligaSelected].listaEquipos[$index+1]].checked"
                       ng-model="racha[ ligaSelected ].calendarioFiltered[racha[ligaSelected].listaEquipos[$index+1]].checked"
                       ng-change="selecionarEquipo(racha[ligaSelected].listaEquipos[$index+1])"
                       ng-checked="selection.indexOf(racha[ligaSelected].listaEquipos[$index+1]) > -1">
                {{racha[ligaSelected].listaEquipos[$index+1]}}
            </label>


        </div>

    </div>



       </div>




        <div class="spacer" style="width: 360px; height: 137px;"></div>


    </ion-content>

</ion-view>