
<ion-view title="{{ 'Ligas' | translate }}"  >

    <ion-header-bar class="bar-dark">
        <h1 class="title"></h1>
    </ion-header-bar>


    <ion-header-bar class="bar bar-dark bar-subheader  pegar"  >



        <label class="item item-pegar item-input item-grey item-select  ">

            <div class="item-text-wrap input-label col texto-blanco ">
                {{ 'Liga' | translate }}
            </div>

                <select ng-model="data.selectedindex"
                        ng-options="key as selectedindex for (key, selectedindex) in ligas |orderBy:'toString()'| translate "
                        ng-change="changedliga()">
                    <option value="" > </option>
                </select>


        </label>
    </ion-header-bar>




   <ion-header-bar class="bar bar-dark bar-subheader  pegar"  >
       <ul class="list">
           <li class="item item-pegar item-grey item-toggle">
               {{ 'Seleccion Individual' | translate }}
               <label class="toggle">
                   <input type="checkbox" ng-model="filtroAnimo.checked">
                   <div class="track">
                       <div class="handle"></div>
                   </div>
               </label>
           </li>
       </ul>

<!--      <div class="item item-toggle item-grey row row-center  ">
                            <div class="col  text-right ">
                                   {{ 'Seleccion Individual' | translate }}
                           </div>

                               <div class="col  text-center">
                                   <label class="toggle">
                                       <input type="checkbox" ng-model="filtroAnimo.checked">
                                       <div class="track">
                                           <div class="handle"></div>
                                       </div>
                                   </label>
                               </div>


         </div>-->



    </ion-header-bar>
    <ion-content position-bars-and-content>

        <div class="list pegar">
            <div class="col col-bottom  text-center texto-blanco"  ng-show="data.selectedindex !== null">
                <br>{{ 'Partidos de la Jornada' | translate }}
                {{racha[ligaSelected].ultima}}</div>

            <div class="pegar " ng-repeat="part in  racha[ligaSelected].listaPartidos" ng-click="irPartido(part)" ng-show="!filtroAnimo.checked" >
                <div class=" button button-block">{{part}}  </div>
            </div>

            <div ng-show="filtroAnimo.checked" class="row pegar " ng-repeat="equipo in  racha[ligaSelected].listaEquipos"   ng-if="$index % 2 === 0">
                <div class="col col-50  col-center  pegar" ng-if="$index < racha[ligaSelected].listaEquipos.length">
                    <label class="checkbox   button button-block "   ng-class="{'button-dark': racha[ ligaSelected ].calendarioFiltered[racha[ligaSelected].listaEquipos[$index]].checked }" >

                        <input id="{{racha[ligaSelected].listaEquipos[$index]}}"   ng-show=false
                               type="checkbox"
                               ng-disabled="selection.length==2 && !racha[ ligaSelected ].calendarioFiltered[racha[ligaSelected].listaEquipos[$index]].checked"
                               ng-model="racha[ ligaSelected ].calendarioFiltered[racha[ligaSelected].listaEquipos[$index]].checked"
                               ng-change="selecionarEquipo(racha[ligaSelected].listaEquipos[$index])"
                               ng-checked="selection.indexOf(racha[ligaSelected].listaEquipos[$index]) > -1">

                        {{racha[ligaSelected].listaEquipos[$index]}}

                    </label>
                </div>
                <div class="col col-50    pegar" ng-if="$index < racha[ligaSelected].listaEquipos.length">
                    <label class="checkbox    button-block  button"  ng-if="$index + 1 < racha[ligaSelected].listaEquipos.length" ng-class="{'button-dark': racha[ ligaSelected ].calendarioFiltered[racha[ligaSelected].listaEquipos[$index+1]].checked }" >

                        <input id="{{racha[ligaSelected].listaEquipos[$index+1]}}"   ng-show=false
                               type="checkbox"
                               ng-disabled="selection.length==2 && !racha[ ligaSelected ].calendarioFiltered[racha[ligaSelected].listaEquipos[$index+1]].checked"
                               ng-model="racha[ ligaSelected ].calendarioFiltered[racha[ligaSelected].listaEquipos[$index+1]].checked"
                               ng-change="selecionarEquipo(racha[ligaSelected].listaEquipos[$index+1])"
                               ng-checked="selection.indexOf(racha[ligaSelected].listaEquipos[$index+1]) > -1">
                        {{racha[ligaSelected].listaEquipos[$index+1]}}
                    </label>
                </div>
            </div>

       </div>




        <div class="spacer" style="width: 360px; height: 137px;"></div>


    </ion-content>

</ion-view>