<ion-view class="welcome-view" cache-view="false">

    <ion-content scroll="false">
        <div class="top-content row">
            <div class="app-copy col col-top">
              <h1 class="app-logo">
                    Visual Betting
                    </h1>
                <p class="app-tagline">
                        If you are subscriber: Do Login
                        <br>if not press close me<br>
               </p>

            </div>
        </div>
        <div class="bottom-content row">
            <div class="col col-bottom">
                <a class="google-sign-out button button-block" ng-click="closeLogin()">

                    <span class="btn-copy"><ion-icon name="add"></ion-icon>Close me</span>
                </a>
                <a class="google-sign-in button button-block" ng-click="loginToGoogle()">
                    <span class="btn-copy">Sign in with Google</span>
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>

