<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content drag-content="false">

        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>




        <!-- TABS -->
        <ion-tabs class="tabs-icon-top tabs-dark" >


            <ion-tab title="{{ 'Ligas' | translate }} " icon="ion-ios-football" href="#/tab/ligas">
                <ion-nav-view  name="ligas"></ion-nav-view>
            </ion-tab>

            <ion-tab title="{{ 'Historial' | translate }} " icon="ion-calendar" href="#/tab/historial">
                <ion-nav-view  name="historial"></ion-nav-view>
            </ion-tab>

            <ion-tab title="{{ 'Predicciones' | translate }}" icon="ion-calendar" href="#/tab/vip">
                <ion-nav-view name="vip"></ion-nav-view>
            </ion-tab>
        </ion-tabs>

    </ion-side-menu-content>

    <!-- Side Menu (left) -->
    <ion-side-menu side="left" >
        <ion-header-bar class="bar-dark">
            <h1 class="title">{{ 'Apuestas Visuales' | translate }}</h1>
        </ion-header-bar>
        <ion-content class="has-header menu-items">
            <ion-list >
               <ion-item  class="item-icon-left" menu-close href="#/app/index">
                    <i class="ion ion-android-home"></i>
                    <div class="menu-text">{{ 'Inicio' | translate }}</div>
                </ion-item>

                <ion-item class="item-icon-left" menu-close ng-click="rateOurApp();"  href="#/app/index">
                    <i class="ion ion-ios-star"></i>
                    <div class="menu-text">{{ 'Apoyanos' | translate }}</div>
                </ion-item>

                <ion-item class="item-icon-left col pegar"  >

                    <div class="row row-center menu-color-negro pegar">
                        <div class="col col-10"></div>
                        <div class="col col-40 texto-blanco  ">
                            {{ 'Notifications' | translate}}
                        </div>
                        <div class="col text-center col-50 ">
                            <label class="toggle">
                                <input type="checkbox" ng-model="notification.checked" ng-change="notificame()">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>

                    <ion-item class="item-icon-left" menu-close ng-click="privacy();"  href="#/app/index">
                        <div class="menu-text">{{ 'Privacy Policy' | translate }}</div>
                    </ion-item>

                </ion-item>

<!--

                <ion-item class="item-icon-left" menu-close href="www.resultados-futbol.com">
                    <i class="ion ion-android-settings"></i>
                    <div class="menu-text">Settings</div>
                </ion-item>


                <ion-item  class="item-icon-left" menu-close ng-click="contactUs();"
                           href="#/app/contact">
                    <i class="ion ion-ios-email"></i>
                    <div class="menu-text">{{ 'contacto' | translate }}</div>
                </ion-item>

                -->
                <ion-item class="item-icon-leftn pegar">
                    <div class="row pegar">

                        <button
                                ng-click="bodShare('facebook');" class="col">
                            <i class="ion2 ion-social-facebook"></i></button>

                        <button
                                ng-click="bodShare('google');" class="col">
                            <i class="ion2 ion-social-googleplus"></i></button>

                        <button
                                ng-click="bodShare('twitter');" class="col">
                            <i class="ion2 ion-social-twitter"></i></button>
                     <button
                                ng-click="bodShare('email');" class="col">
                            <i class="ion2 ion-android-mail"></i></button>
                    </div>
                </ion-item>

                <ion-item  class="item-icon-left pegar" onclick="window.open('http://www.resultados-futbol.com', '_blank', 'location=yes'); return false;"  >
                    <div class="logo_res">
                        <img ng-src="img/bg_micro_menu.png">
                    </div>
                </ion-item>

<!--                <ion-item class="item-icon-left" menu-close ng-click="subcripcion();"  href="#/app/index">
                    <div class="menu-text">{{ 'Subcripcion VIP' | translate }}</div>
                </ion-item>-->


            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>