<ion-view title="Rachas">
    <ion-tabs class="tabs-stable tabs-icon-bottom">
        <ion-tab title="Primera" icon="null">
            <ion-content has-header="true" has-footer="false" padding="true" scroll="false">

                <div class="spacer" style="height: 100px;"></div>


                <button class="button button-positive button-block" ng-click="comparar()" >Predecir</button>
                <ion-scroll direction="xy" class="myScroll">
                    <ul class="list">
                        <li class="item">
                            <div ng-repeat="(key,val) in racha.calendario">
                                <div class="row">

                                    <label class="checkbox col-center">
                                        <input id="{{key}}"
                                               type="checkbox"
                                               ng-disabled="selection.length==2 && !racha.calendario[key].checked"
                                               ng-model="racha.calendario[key].checked"
                                               ng-change="selecionarEquipo(key)"
                                               ng-checked="selection.indexOf(key) > -1"
                                               value="{{key}}" >

                                    </label>

                                    <div class="col col-center">{{key}}</div>

                                    <div ng-class="scoreClass(b)" class="item"
                                         ng-repeat="b in val track by $index"></div>

                                </div>

                            </div>
                        </li>


                </ul>

                </ion-scroll>







            </ion-content>
        </ion-tab>

        <ion-tab title="Segunda" icon="null" href="#/tab/post">
            <ion-content padding="true" class="has-header"></ion-content>
        </ion-tab>

    </ion-tabs>
</ion-view>