
<ion-view title="Primera"   >
    <!--<select ng-model="blah" ng-options="key as value for (key , value) in data"></select>-->
    <ion-content class="padding">
        <!--    ng-options="items.indexOf(item) as item for item in items"-->
        <select ng-model="data.selectedindex"
                ng-options="value for (key, value) in ligas"
                ng-change="changedliga()">
        </select>

  <!--
        <select   ng-model="data.selectedindex2" ng-change="changedIgualdad()">
            <option ng-repeat="(key, value) in igualdad" value="{{key}}">{{value}}</option>
        </select>
-->

        <ion-scroll zooming="true" direction="xy" class="myScroll" style="width: 360px; height: 600px">


                <div ng-repeat="(key2,val) in racha[ ligaSelected ] .calendarioFiltered ">


                                    <label class="checkbox  button"   ng-class="{'button-calm': racha[ ligaSelected ].calendarioFiltered[key2].checked }" >
                                        <div class="row row-center">

                                            <div class=" col-center ">
                                                    <input id="{{key2}}"   ng-show=false
                                                           type="checkbox"
                                                           ng-disabled="selection.length==2 && !racha[ ligaSelected ].calendarioFiltered[key2].checked"
                                                           ng-model="racha[ ligaSelected ].calendarioFiltered[key2].checked"
                                                           ng-change="selecionarEquipo(key2)"
                                                           ng-checked="selection.indexOf(key2) > -1">
                                            </div>

                                            <div class="col">
                                                <div class="text-center">&nbsp;&nbsp;{{key2}}</div>

                                                <div class="row row-tam " >
                                                    <div ng-class="scoreClass(b)"  class="item  " ng-repeat="b in val track by $index " ng-if="$index > 0">
                                                        <div class="texto-celda">  {{ racha[ ligaSelected ].difPuntosFiltered[key2][$index]}} </div>
                                                    </div>
                                                </div>

                                         <!--       <div class="row row-tam " >
                                                    <div ng-class="scoreClass(b)"  class="item col " ng-repeat="b in val track by $index " ng-if="$index > 0">
                                                        <div class="texto-celda">  {{ racha[ items[data.selectedindex] ].difGolFiltered[key2][$index]}} </div>
                                                    </div>
                                                </div>-->

                                            </div>




                                        </div>
                                    </label>



                </div>
            <div class="spacer" style="width: 360px; height: 137px;"></div>

        </ion-scroll>


    </ion-content>

</ion-view>