<ion-tabs class="tabs-icon-top tabs-dark">


    <ion-tab title="{{ 'Ligas' | translate }} " icon="ion-ios-football" href="#/tab/ligas">
        <ion-nav-view name="ligas"></ion-nav-view>
    </ion-tab>

   <ion-tab title="{{ 'Historial' | translate }} " icon="ion-calendar" href="#/tab/historial">
        <ion-nav-view name="historial"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{ 'Predicciones' | translate }}" icon="ion-calendar" href="#/tab/vip">
        <ion-nav-view name="vip"></ion-nav-view>
    </ion-tab>
</ion-tabs>