<ion-view title="{{ 'Predicciones' | translate }}"   >
<!--    <ion-nav-buttons side="right">

        <button class="button button-outline  " ng-click="doRefresh()">
            {{ 'Refresh' | translate }}
        </button>
    </ion-nav-buttons>-->
    <ion-content >

        <ion-list>

               <div ng-repeat="group in listaFechas | filter: filtrarDate ">
                    <ion-item class="pegar item-text-wrap"
                                 ng-click="toggleGroup(group)"
                                 ng-class="{active: isGroupShown(group)}" >
                            <div class="row row-center ">
                                <div class="col col-10 text-center  ">
                                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                                </div>
                                <div class="col">{{group}} </div>
                                <div class="cocl"> {{ 'Algorithm (see Historical)' | translate}} </div>
                            </div>
                   </ion-item>
                    <ion-item   ng-show=" isGroupShown(group)" class="item-balanced pegar texto-blanco row row-center item-text-wrap">
                       <div class="col col-20 text-center">{{ 'Jornada' | translate }}</div>
                       <div class="col">{{ 'Liga' | translate }}</div>
                       <div class="col text-right">{{ 'Aciertos' | translate }}</div>
                   </ion-item >
                   <div ng-repeat="(liga,val) in predicciones[group] | groupBy: 'tipo' "    ng-show="isGroupShown(group)"   >


                            <ion-item class="item-dark pegar  texto-blanco row row-center item-text-wrap " ng-click="ver(liga)" >
                                <div class="col col-20 text-center">  {{val[0].jornada}}  </div>
                                    <div class="col ">
                                        <div class="row pegar ">
                                        <div class="country"><img ng-src="img/flag_country/{{val[0].flag_id}}.png">&nbsp&nbsp</div>
                                        {{ val[0].liga | translate}}
                                    </div>
                                </div>
                                <div>{{val[0].rate}}%
                                    <span class="more-info-match  ion ion-ios-arrow-right"></span>
                                </div>

                            </ion-item>


                            <ion-item   class="item-text-wrap  pegar" ng-click="verEncuentro(predLiga)" ng-repeat="predLiga in val"   >
                                <div class="row row-center"  >
                                    <div class="col col-20 text-center">  <b>{{predLiga.hora}}   </b>           </div>
                                    <div class="col col-60 item-pred "> <b> <span ng-bind-html="predLiga.encuentro | addBall "></span></b> </div>
                                  <!--  <div class="col col-60 ">  {{predLiga.encuentro}}         </div>-->
                                    <div class="col text-center" >   <b>{{predLiga.prediccion}} </b>  </div>
                                </div>
                            </ion-item>

                    </div>
              </div>

      <!--betday-->
            <div ng-show="!vip">

                <div class="row">
                    <div class="col text-center">
                        <button class="button button-large button-assertive " ng-click="subcripcion(true)">
                            <div class="row col text-center">Remove ads <i class = "icon icon ion-ios-unlocked-outline"></i> Extra bets</div>
                            <div class="row col text-center">Thanks for your support!!!</div>
                        </button>
                    </div>
                </div>


            </div>

         <div ng-show="vip">


                <ion-item class="pegar  "
                          ng-click="toggleGroup('betday')"
                          ng-class="{active: isGroupShown('betday')}" >
                    <div class="row row-center ">
                        <div class="col col-10 text-center  ">
                            <i class="icon" ng-class="isGroupShown('betday') ? 'ion-minus' : 'ion-plus'"></i>
                        </div>
                        <div class="col">{{ 'VIP' | translate}}</div>
                    </div>
                </ion-item>

                <ion-item  ng-click="ver('betday')"  ng-show=" isGroupShown('betday')" class="item-balanced pegar texto-blanco row row-center item-text-wrap" >
                    <div class="col">  {{dayFormatted}} {{prueba.fechas.length}} @{{ day.betday[day.fecha].resultado  }}  </div>

                    <div>%
                        <span class="more-info-match  ion ion-ios-arrow-right"></span>
                    </div>
                </ion-item >



                    <div ng-repeat="(liga,val) in day.betday[day.fecha].bets | groupBy: 'liga' " ng-show="isGroupShown('betday')"  >

                        <ion-item class="item-dark pegar  texto-blanco row row-center item-text-wrap "  >
                            <div class="col col-20 text-center">  {{val[0].jornada}}  </div>
                            <div class="col ">
                                <div class="row pegar ">
                                    {{ val[0].liga | translate}}
                                </div>
                            </div>
                        </ion-item>


                        <ion-item   class="item-text-wrap  pegar"  ng-repeat="day in val"   >
                            <div class="row row-center"  >
                                <div class="col col-20 text-center">  <b>{{day.hora}}   </b>           </div>
                                <div class="col col-60 item-pred "> <b> <span ng-bind-html="day.encuentro | addBall "></span></b> </div>
                                <div class="col col-20 text-center" >   <b>{{day.prediccion}} </b>  </div>
                                <div class="col col-20 text-center">  <b>@{{day.odd}}</b>    </div>
                            </div>
                        </ion-item>

                    </div>

         <!--betday-->
         </div>
        </ion-list>


    </ion-content>
</ion-view>