<ion-view title="Predicciones"   >
    <ion-content >

        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
           <ion-list>

               <div ng-repeat="group in listaFechas">

                    <ion-item class="pegar"
                                 ng-click="toggleGroup(group)"
                                 ng-class="{active: isGroupShown(group)}" >
                            <div class="row row-center ">
                                <div class="col col-10 text-center  ">
                                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                                </div>
                                <div class="col">{{group}}</div>
                            </div>


                   </ion-item>
                   <ion-item   ng-show=" isGroupShown(group)" class="item-dark pegar texto-blanco row row-center item-text-wrap">
                       <div class="col col-20">Jornada</div>
                       <div class="col ">Liga</div>
                       <div>Aciertos</div>
                   </ion-item >
                    <div ng-repeat="(liga,val) in predicciones[group] | groupBy: 'tipo' "    ng-show="isGroupShown(group)"   >


                            <ion-item class="item-dark pegar texto-blanco row row-center item-text-wrap " ng-click="ver(liga)" >
                                <div class="col col-20 text-center">  {{val[0].jornada}}  </div>
                                <div class="col ">  {{ val[0].liga }}   </div>
                                <div> {{val[0].rate}}%  </div>
                            </ion-item>


                        <!--ng-class-odd="'even-row'"-->
                            <ion-item   class="item-text-wrap pegar"  ng-repeat="predLiga in val"   >
                                <div class="row row-center"  ng-click="verEncuentro(predLiga)">
                                    <div class="col col-20">  {{predLiga.hora}}              </div>
                                    <div class="col col-60 ">  {{predLiga.encuentro}}         </div>
                                    <div class="col col-10 " >   <b>{{predLiga.prediccion}}</b>  </div>
                                </div>
                            </ion-item>

                    </div>

            </div>
        </ion-list>


    </ion-content>
</ion-view>