<ion-view title="{{ 'Visor' | translate }}"  >
    <ion-nav-bar class="bar-dark">

        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="ir('{{back}}')" >  <i class="ion ion-android-arrow-back" ></i> </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button" ng-click="compareDialog.show()">
                <div><i class="icon ion-ios-help-outline" ></i></div>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>





    <ion-content ng-show="!loading" >

        <div class="list  ">

            <div class="item  item-divider pegar">
                <div class="row pegar">
                    <div class="col col-offset-10 text-center">{{selection[0]}}</div>
                    <div class="col text-center"> <i class="ion-minus-round" ></i></div>
                    <div class="col text-center"> {{selection[1]}}</div>
                    <div class="col col-10"></div>
                </div>
            </div>
            <div class="list list ">
                <div class="item pegar item-divider">
                    <div class="row  pegar">
                        <div class="col pegar">
                            <div class="buttons pegar ">
                                <button class="button  button-small" ng-click="scrollIzq('todos-scroll')">
                                    <i class="icon ion-ios-rewind"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col pegar text-center col-center">{{ 'Todos los partidos' | translate }}</div>
                        <div class="col pegar text-right">
                            <div class="buttons pegar ">
                                <button class="button  button-small" ng-click="scrollDch('todos-scroll')">
                                    <i class="icon ion-ios-fastforward"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item pegar bh">
                    <div class="row pegar">&nbsp&nbsp</div>
                    <div class="row pegar">
                        <div class="col col-10 pegar peq">&nbsp&nbsp{{abrev(selection[0])}}</div>
                        <div class="col pegar">
                            <div class="row row-center">
                                <div class="row row-center row-tam2" >
                                    <ion-scroll  delegate-handle="todos-scroll" direction="x" class="myScroll"  style="width: 250px">

                                        <div  ng-class="scoreClass2(p,racha[ ligaSelected ].golRateFiltered[selection[0]][$index],filtroAnimo)" class="item "
                                              ng-repeat="p in racha[ligaSelected ].calendarioFiltered[selection[0]] track by $index "
                                              ng-if="   $index > 0 && racha[ligaSelected].calendarioFiltered[selection[0]][$index]!== null " >

                                            <div ng-class="coloreacelda(p,fromFilter)"> {{racha[ ligaSelected ].golRateFiltered[selection[0]][$index] }}</div>
                                        </div>
                                    </ion-scroll>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer"></div>
                    <div class="row pegar ">
                        <div class="col col-10 pegar peq ">&nbsp&nbsp{{abrev(selection[1])}}</div>
                        <div class="col pegar">
                            <div class="row row-center">
                                <div class="row row-tam2" >
                                    <ion-scroll  delegate-handle="todos-scroll" direction="x" class="myScroll"  style="width: 250px">
                                        <div  ng-class="scoreClass2(p,racha[ ligaSelected ].golRateFiltered[selection[1]][$index],filtroAnimo)" class="item "
                                              ng-repeat="p in racha[ligaSelected].calendarioFiltered[selection[1]] track by $index"
                                              ng-if="  $index > 0 && racha[ ligaSelected ].calendarioFiltered[selection[1]][$index]!== null ">
                                            <div ng-class="coloreacelda(p,fromFilter)"> {{racha[ ligaSelected ].golRateFiltered[selection[1]][$index]}}   </div>
                                        </div>
                                    </ion-scroll>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pegar">&nbsp&nbsp</div>
                </div>
                <div class="item pegar item-divider">
                    <div class="row  pegar">
                        <div class="col pegar">
                            <div class="buttons pegar ">
                                <button class="button  button-small" ng-click="scrollIzq('casa-scroll')">
                                    <i class="icon ion-ios-rewind"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col pegar text-center col-center">{{ 'Casa/Fuera' | translate }}</div>
                        <div class="col pegar text-right">
                            <div class="buttons pegar ">
                                <button class="button  button-small" ng-click="scrollDch('casa-scroll')" >
                                    <i class="icon ion-ios-fastforward"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item pegar bh">
                    <div class="row pegar">&nbsp&nbsp</div>
                    <div class="row pegar">
                        <div class="col col-10 pegar peq">&nbsp&nbsp{{abrev(selection[0])}}</div>
                        <div class="col pegar">
                            <div class="row row-center">
                                <div class="row row-tam2" >
                                    <ion-scroll delegate-handle="casa-scroll"  direction="x" class="myScroll"  style="width: 250px">
                                        <div  ng-class="scoreClass2(p,racha[ ligaSelected ].golCasaRateFiltered[selection[0]][$index],filtroAnimo)" class="item"
                                              ng-repeat="p in racha[ ligaSelected ].casaFiltered[selection[0]] track by $index "
                                              ng-if=" $index > 0 && racha[ ligaSelected ].casaFiltered[selection[0]][$index]!== null ">

                                            <div ng-class="coloreacelda(p,fromFilter)"> {{racha[ ligaSelected ].golCasaRateFiltered[selection[0]][$index]}}</div>
                                        </div>
                                    </ion-scroll>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer"></div>
                    <div class="row pegar ">
                        <div class="col col-10 pegar peq ">&nbsp&nbsp{{abrev(selection[1])}}</div>
                        <div class="col pegar">
                            <div class="row row-center">
                                <div class="row row-tam2 " >
                                    <ion-scroll delegate-handle="casa-scroll"  direction="x" class="myScroll"  style="width: 250px">
                                        <div  ng-class="scoreClass2(p,racha[ ligaSelected ].golFueraRateFiltered[selection[1]][$index],filtroAnimo)" class="item"
                                              ng-repeat="p in racha[ ligaSelected ].fueraFiltered[selection[1]] track by $index"
                                              ng-if=" $index > 0 && racha[ ligaSelected ].fueraFiltered[selection[1]][$index]!== null ">
                                            <div ng-class="coloreacelda(p,fromFilter)"> {{racha[ ligaSelected ].golFueraRateFiltered[selection[1]][$index]}}   </div>
                                        </div>
                                    </ion-scroll>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pegar">&nbsp&nbsp</div>
                </div>



                <div class="item text-center pegar  item-text-wrap item-divider">
                    <div  ng-if ="   algodesc !==''   ">
                      Prediccion: <span class="prediccion">{{prediccion}}</span> <br> {{algodesc}}
                    </div>

                </div>



                <div class="item bh col pegar">
                    <div class="row row-center pegar ">
                       <div class="col col-10"></div>
                        <div class="col col-40  texto-blanco  ">
                            {{ 'Resultados Emocionales' | translate }}
                        </div>
                        <div class="col text-center col-50">
                            <label class="toggle">
                                <input type="checkbox" ng-model="filtroAnimo.checked"   >
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="item  bh col pegar">
                    <div class="row row-center pegar">
                        <div class="col col-10"></div>
                        <div class="col col-40 texto-blanco  ">
                            {{ 'Partidos similares' | translate }}
                        </div>
                        <div class="col text-center col-50 ">
                            <label class="toggle">
                                <input type="checkbox" ng-model="filtroHCP.checked" ng-change="filtrarHCP()">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>
