<ion-view title='Historial' >

    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goBack()"><i class="icon ion-arrow-left-c" ></i> Back</button>
    </ion-nav-buttons>


    <ion-content>
        <ion-list>
        <div class="item item-divider text-center">
            {{algodesc}}
        </div>
        <div class="item pegar ">
            <div class="row row-center pegar">
                <div class="col">Jornada</div>
                <div class="col">Aciertos</div>
            </div>
        </div>
            <div class="item pegar"  ng-repeat="item in rates track by $index " ng-if="$index > 0 && item.rate!== null ">
                <div class="row pegar" ng-class="{ 'text-success': !item.pleno }">
                    <div class="col">{{ item.jornada}}</div>
                    <div class="col">{{item.rate}}</div>
                </div>
            </div>

            <div class="item pegar item-divider">
                <div class="row pegar">
                    <div class="col">Acierto Acumulado</div>
                    <div class="col">{{ rate}}%</div>
                </div>
            </div>

        </ion-list>

    </ion-content>

</ion-view>
