<ion-view title="{{ 'Historial' | translate }}" >

    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="goBack()"><i class="ion ion-android-arrow-back" ></i> </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-header-bar class="bar bar-dark bar-subheader  pegar"  >
        <div class="item item-divider text-center">
            {{algodesc}}
        </div>
    </ion-header-bar>

    <ion-header-bar class="bar bar-dark bar-subheader"  >
            <div class="row row-center pegar">
                <div class="col col-center text-center">{{ 'Jornada'  | translate }}</div>
                <div class="col col-center text-center">{{ 'Aciertos' | translate }} / {{ 'Total' | translate }}</div>
            </div>
    </ion-header-bar>


    <ion-content>

        <ion-list>
            <div class="item pegar"  ng-repeat="item in rates track by $index " ng-if="$index >= 0 && item.rate!== null ">
                <div class="row pegar" ng-class="{ 'text-success': !item.pleno }">
                    <div class="col text-center">{{ item.jornada}}</div>
                    <div class="col text-center">{{item.rate}}</div>
                </div>
            </div>
<!--            <div class="card">
                <div class="item item-text-wrap text-center">
                    The historical are more like prediction series not raw past results.
                    From the middle to end season, the leagues are stabilized then you can look it like past results.
                    Read carefully the tutorial (Point 1) to undertand it. The extra bet section has pure past results.
                </div>
            </div>-->
        </ion-list>
    </ion-content>

    <ion-footer-bar align-title="left" class="bar-dark">
            <div class="row pegar">
                <div class="col text-center">{{ 'Acierto Acumulado' | translate }}</div>
                <div class="col text-center">{{ rate}}%</div>
            </div>
    </ion-footer-bar>

</ion-view>
