<div class="adic-modal">

    <ion-modal-view class="adic-popup">


        <div class="cardx">
            <div class="row row-center pegar">
                <div class="col col-10"></div>
                <div class="row-tam2">
                    <div class="victoria">
                        &nbsp&nbsp
                    </div>
                </div>
                <div class="col ">{{ 'Victoria' | translate }}</div>
                <div class="col ">{{ 'Igualdad' | translate }}</div><div class="col col-20 col-center">-10...10
            </div>
                <div class="col col-10"></div>
            </div>
            <div class="row row-center pegar">
                <div class="col col-10"></div>
                <div class="row-tam2">
                    <div class="empate">
                        &nbsp&nbsp
                    </div>
                </div>
                <div class="col ">{{ 'Empate' | translate }}</div>

                <div class="col ">{{ 'A favor' | translate }}</div><div class="col col-20 col-center">[+]</div>
                <div class="col col-10"></div>
            </div>
            <div class="row row-center pegar">
                <div class="col col-10"></div>
                <div class="row-tam2">
                    <div class="derrota">
                        &nbsp&nbsp
                    </div>
                </div>
                <div class="col">{{ 'Derrota' | translate }}</div>

                <div class="col">{{ 'En contra' | translate }}</div><div class="col col-20 col-center">[-]</div>
                <div class="col col-10"></div>
            </div>
                 <div class="col"></div>

                <div class="col text-center "><b>Ejemplos </b>

                </div>

                <div id="list">
                    <ul>
                        <li>{{ 'Partido muy igualado' | translate }}</li>


                        <div class="row pegar">
                            <div class="col text-center">Madrid-Barça = 0</div>
                        </div>



                        <li>{{ 'Partido muy desigual' | translate }}: España-Malta</li>
                        <div class="row pegar">
                            <div class="col">España =  10</div>
                            <div class="col">Malta  = -10</div>
                        </div>

                    </ul>
                </div>

              <div class="col"> Filtros</div>
            <div class="col"> Resultados emocionales: cambia el color en base a lo esperado por el equipo, </div>
            <div class="col"> HCP: solo deja los partidos de igualdad igual o menor a la estimada, </div>



        </div>


    </ion-modal-view>
</div>




