/* Empty. Add your own CSS if you like */
.texto-celda {
    position: relative;
    top: 35%;
    -webkit-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
    font-size: 10px;
    color: white;
    font-stretch: condensed;
    font-weight: bold;
    width: 13px;
}
.row-tam2{
    line-height: 10px;
    padding: 0;

}
.item{
    height: 100%;
    min-height: 100%;

}
.peq{
    font-size: 9px;
    color: white;
}
.adic-modal .modal {
    min-height: 0 !important;
}
 .bh{
    background-color: #444;
}
.adic-popup {

    top: 50%;
    bottom: 20%;
    background-color: #ffffff;
}

.even-row{background: rgba(244, 244, 244, 0.51)  }


.texto-blanco{
    color: white;
    font-size: 120%;
}
.texto-celda2 {
    text-align: center;
    font-size: 10px;
    color: white;
    font-stretch: condensed;
    font-weight: bold;
    width: 15px;
}
.texto-celda-black {
    text-align: center;
    font-size: 10px;
    color: black;
    font-stretch: condensed;
    font-weight: bold;
    width: 15px;
}
.row-tam{
    padding: 0;
    height: 15px;
}
.derrota {

    padding: 1px;
    background: #f78d53;
}
.blanco {
    color:grey;
    padding: 1px;
}
.text-success{
    color: red;
    font-weight: bold;
}
.victoria {
    padding: 1px;
    background: #3cd12f;
}
.empate {
    padding: 1px;
    background: #ffc011;
}

.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}

ion-scroll .item {
    display: inline-block;
    margin: 0;
}

.slider{
    background-color:#0072bc;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important ;
  right: 0 !important;
}
.myScroll{
width: 100%;
height: 100% ;
}
.borde {
    border: 2px solid #8AC007;
}
.notplay {
    border: 1px solid;
}
.circle-singleline {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    background: #45aec8;
    color: white;
    box-shadow: 1px 1px 1px black;
}

body {
    cursor: url('finger.png'), auto;
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.slide-container {
    position: relative;
    height: 320px;
}

.pegar{
    padding: 0;
}
.item-checkbox-right .checkbox input,
.item-checkbox-right .checkbox-icon {
    float: right;
}

.item-checkbox.item-checkbox-right {
    /*the default item padding*/
    padding: 15px;
}

