@import url(http://fonts.googleapis.com/css?family=Abel);

* {
    font-family: 'Abel', sans-serif;
}
/* Empty. Add your own CSS if you like */
.texto-celda {
    position: relative;
    top: 35%;
    -webkit-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
    font-size: 10px;
    color: white;
    font-stretch: condensed;
    font-weight: bold;
    width: 13px;
    font-family: 'Abel', sans-serif;
}
.row-tam2{
    line-height: 15px;
    padding: 0;
}
.row-tam3{
    line-height: 10px;
    padding: 0;
}
.item{
    height: 100%;
    min-height: 100%;
    font-size: 14px;
}
.item-pred{
    font-size: 14px;
}

.peq{
    font-size: 9px;
    color: white;
}
.adic-modal .modal {
    min-height: 0 !important;
}
 .bh{
    background-color: #444;
}

 .bordeinfo{
     border-radius: 20%;
     box-shadow: #B3B3B3 19px 19px 19px;

 }

.listaInfo {
    width: 85%;
    margin-left: 25px;
}

.listaInfo ul li {
    text-align: left;
    list-style: disc;
    margin: 5px 0;
}
.my-nav {
    list-style-type: circle;
}
.adic-popup {
    top: 10%;
    background-color: #ffffff;
}

.even-row{background: rgba(244, 244, 244, 0.51)  }

.spinner.light svg {
    stroke: #fff !important;
    fill: #fff !important;
    width: 100% !important;
    height: 100px !important;
}

.texto-blanco{
    color: white;
}
.texto-celda2 {
    text-align: center;
    font-size: 12px;
    color: white;
    font-stretch: condensed;
    font-weight: bold;
    width: 15px;
}
.texto-celda-black {
    text-align: center;
    font-size: 12px;
    color: black;
    font-stretch: condensed;
    font-weight: bold;
    width: 15px;
}
.row-tam{
    padding: 0;
    height: 15px;
}
.derrota {

    padding: 1px;
    background: #f78d53;
}
.blanco {
    color:grey;
    padding: 1px;
}
.text-success{
    color: red;
    font-weight: bold;
}
.victoria {
    padding: 1px;
    background: #3cd12f;
}
.empate {
    padding: 1px;
    background: #ffc011;
}

.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}

ion-scroll .item {
    display: inline-block;
    margin: 0;
}

.slider{
    background-color:#0072bc;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important ;
  right: 0 !important;
}
.myScroll{
width: 100%;
height: 100% ;
}
.borde {
    border: 2px solid #8AC007;
}
.notplay {
    border: 1px solid;
}
.circle-singleline {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    background: #45aec8;
    color: white;
    box-shadow: 1px 1px 1px black;
}

body {
    cursor: url('finger.png'), auto;
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.slide-container {
    position: relative;
    height: 320px;
}

.pegar{
    padding: 0;
}
.item-checkbox-right .checkbox input,
.item-checkbox-right .checkbox-icon {
    float: right;
}

.item-checkbox.item-checkbox-right {
    /*the default item padding*/
    padding: 15px;
}

/*Change all background color */
/*
*.scroll-content{
    background-color:#444;
}
*/

/* Change side menu color to dark*/
.menu-items{
    font-family: 'Abel', sans-serif;
    border: none;
}
.menu-items .item{
    background: transparent;
}
.menu-items .item a{
/*   padding: 12px 0;*/
    text-decoration: none;
    background: #000000;
    color: #ffffff;
    outline: none;

}
.menu-items i{
    float: left;
    width: 55px!important;
}

.menu-text{
    float: left;
    padding: 0!important;
    margin: 0!important;
}

.menu-items{
    background: #444;
}

/* change icon color*/
.menu-items .ion{
    padding: 0 20px;
    font-size: 20px;
    color: #ffffff;
}
.menu-items .ion2{
    padding: 0 20px;
    font-size: 20px;
    color: #444;
}
/* adding image holder */
.country img{
    float: left;
    padding: 0;
    margin:0;
    height: 20px;
}
.logo_res img{
    float: left;
    padding: 0;
    margin:0;
    height: 45px;
}

.input-label{
    font-size: 14px!important;
}

.title{
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
}

.more-info-match{
    padding: 0;
    color: #ffffff
}
.more-info-black{
    padding: 0;
    color: #000000
}


.button.button-block, .button.button-full {
    margin: 5px;
}


/*.item.active.item-dark,
.item.activated.item-dark,
.item-complex.active.item-dark .item-content.item-dark,
.item-complex.activated.item-dark .item-content.item-dark,
.item.item-dark .item-content.active.item-dark,
.item.item-dark .item-content.activated.item-dark
{
    background-color: #a6a9a9;

}*/


.pane, .view {
    background-color: #444;
}



.item-select.item-grey select {
    background: #000000;
    color: #fff;
}
.item.item-grey {
    background: #000000;
    color: #fff;
}


.item.item-dark {
    border-color: #111;
    background-color: #000000;
    color: #fff;
}

.item-select select{
    max-width: 75%;
}

.prediccion{
    color:red;
    text-transform: uppercase;
    font-weight: bold;
}
